---
import directus from "$services/directus";
import { readItem, readItems } from "@directus/sdk";
import Layout from "$layouts/Layout.astro";
import VerisonCard from "$components/card/VerisonCard.astro";
import { PUBLIC_DEPLOY_MODE } from "astro:env/client";
let game: any = {};
let version: any = {};

export const prerender = false;
const isPreview = PUBLIC_DEPLOY_MODE == "preview";
const { gameId, versId } = Astro.params;

if ((versId != undefined || gameId != undefined) && isPreview) {
  version = await directus.request(readItem("versions", versId!));
  game = await directus.request(readItem("games", gameId!));
} else {
  return Astro.rewrite("/404");
}

const verFormat = new Intl.NumberFormat("en-US", {
  minimumFractionDigits: 1,
});

version.game = game;

const title =
  "The Daily Drip | " +
  game.name +
  " | Version " +
  verFormat.format(version.semVer);
---

<Layout {title}>
  <div class="p-4 md:p-6 xl:p8 w-full"><VerisonCard {version} /></div>
</Layout>
