{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-astro"],
  "tailwindStylesheet": "./src/app.css",
  "tailwindFunctions": ["tv"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
