---
import Corner from "./Corner.astro";
---

<div class="@container absolute inset-0">
  <Corner position="nw" />
  <Corner position="ne" />
  <Corner position="se" />
  <Corner position="sw" />
  <div
    class="border-y-1 border-(--cardAccent) absolute inset-corner-sm inset-x-[1rem] @5xs:inset-x-[1.33rem] @5xs:border-y-2 @5xs:inset-corner-md @3xs:inset-x-[1.3rem] @xs:inset-corner-lg @xs:inset-x-[2rem] z-11"
  >
  </div>
  <div
    class="border-x-1 border-(--cardAccent) absolute inset-corner-sm inset-y-[1rem] @5xs:inset-y-[1.33rem] @5xs:border-x-2 @5xs:inset-corner-md @3xs:inset-y-[1.3rem] @xs:inset-corner-lg @xs:inset-y-[2rem] z-11"
  >
  </div>
</div>
