---
const { event, class: className } = Astro.props;
import CharacterCard from "./CharacterCard.astro";
import WeaponCard from "./WeaponCard.astro";

let characters = event.featured_characters;
let weapons = event.featured_weapons;
---

<div
  class:list={[
    "@container w-full flex gap-2 flex-col border-2 border-accent-gold bg-accent-gold-200/20",
    className,
  ]}
>
  <div
    class="relative flex justify-between font-heading font-bold p-2 w-full text-[0.5rem] bg-(--gold-saturated) text-white sm:text-sm md:text-base"
    style={{
      "--gold-saturated":
        "oklch(from var(--color-accent-gold-400) calc(l + 0.05) calc(c + 0.03) h)",
    }}
  >
    <p>Chronicled Wish</p>
    <h1 class="absolute text-center inset-0 flex items-center justify-center">
      {event.event_tags[1]}
    </h1>
    <p class="">Phase {event.phase.phase}</p>
  </div>

  <div class="flex gap-2 p-2 p-y-0">
    {
      characters.map((character: any) => (
        <CharacterCard {character} class="aspect-square" />
      ))
    }
  </div>

  <div class="flex gap-2 p-2 p-y-0">
    {weapons.map((weapon: any) => <WeaponCard {weapon} />)}
  </div>
</div>
