---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import { PUBLIC_DEPLOY_MODE } from "astro:env/client";
const isPreview = PUBLIC_DEPLOY_MODE == "server";

dayjs.extend(utc);
dayjs.extend(timezone);
let { version } = Astro.props;
const verFormat = new Intl.NumberFormat("en-US", {
  minimumFractionDigits: 1,
});
let startDate, phase;
if (version.events.length > 0) {
  startDate = version.events[0].startDate;
  phase = version.events[0].phase;
} else {
  startDate = "2020-01-01";
  phase = { start: "12:00" };
}

let currzone = dayjs.tz.guess();
const tz = "+08:00";
---

<div class="flex flex-col gap-2 sm:col-span-2">
  <div
    class="font-heading flex justify-between border-y border-accent-gold py-1 text-[0.5rem] text-accent-gold sm:text-sm md:text-base"
  >
    <p>Version {verFormat.format(version.semVer)}</p>
    {
      isPreview && (
        <a href={"/" + version.game.id + "/versions/" + version.id}>
          {version.id}
        </a>
      )
    }
    <p>
      {
        dayjs(startDate + "T" + phase.start + tz)
          .tz(currzone)
          .format("MMMM DD YYYY")
      }
    </p>
  </div>
  <h1
    class="font-heading font-bold py-2 text-center text-text-light sm:text-2xl md:text-4xl"
  >
    {version.name ? version.name : `Version ${version.semVer} - XXXXX`}
  </h1>
</div>
