---
import Layout from "$layouts/Layout.astro";
import Calendar from "$components/Calendar.svelte";
---

<Layout title="The Daily Drip">
  <section
    class="p-2 lg:min-h-0 lg:p-4 flex flex-col gap-4 box-border lg:max-w-7xl lg:h-full lg:overflow-auto"
  >
    <div class="p-4 bg-dark/20 rounded-md md:col-span-2 h-min">
      <p class="font-subheading text-sm">
        Welcome to <span class="font-bold text-center">The Daily Drip</span>,
        your place for gacha game leaks and speculations! These are my personal
        predictions for upcoming gacha banners, and you use this data at your
        own risk!
      </p>
    </div>
    <div class="flex flex-col lg:flex-row gap-8 h-full min-h-0">
      <Calendar client:load />
      <!--<Events /> -->
    </div>
  </section>
</Layout>
