---
import Layout from "$layouts/Layout.astro";
import Calendar from "$components/Calendar.svelte";
import HomeEvents from "$components/HomeEvents.astro";

import directus from "$services/directus";
import { readItems, readItem } from "@directus/sdk";

import { PUBLIC_DEPLOY_MODE } from "astro:env/client";
const isPreview = PUBLIC_DEPLOY_MODE == "server";

let events = await directus.request(
  readItems("events", {
    fields: [
      "id",
      "game",
      "phase",
      "startDate",
      "version",
      "featured_characters",
      "event_tags",
    ],
    filter: {
      status: {
        _eq: "published",
      },
    },
    limit: -1,
  }),
);
let phases = await directus.request(readItems("phases", { fields: ["*"] }));
let games = await directus.request(readItems("games", { fields: ["*"] }));

events = await Promise.all(
  events.map(async (event: any) => {
    event.phase = phases.find((phase) => event.phase == phase.id);
    event.game = games.find((game) => event.game == game.id);
    event.version = await directus.request(readItem("versions", event.version));
    let characters = await Promise.all(
      event.featured_characters.map(async (character: any) => {
        let id = (
          await directus.request(readItem("events_characters", character))
        ).characters_id;
        character = await directus.request(readItem("characters", id));
        return character;
      }),
    );
    event.featured_characters = characters.filter(
      (character) => character.rarity == 5,
    );
    return event;
  }),
);

events.sort(
  (a, b) =>
    a.version.semVer +
    Number(a.phase.phase) / 100 -
    (b.version.semVer + Number(b.phase.phase) / 100),
);
---

<Layout title="The Daily Drip">
  <section
    class="absolute inset-0 p-2 size-full lg:min-h-0 lg:p-4 flex flex-col gap-4 box-border lg:h-full overflow-auto xl:overflow-hidden"
  >
    <div class="p-2 w-full bg-dark/20 rounded-md md:col-span-2 h-min">
      <p class="font-subheading text-xs">
        Welcome to <span class="font-bold text-center">The Daily Drip</span>,
        your place for gacha game preditions and speculations! Speculations are
        subjective and these are my personal predictions for upcoming gacha
        banners, so you use this data at your own risk!
      </p>
    </div>
    <div
      style={{
        "--bg-starrail": "oklch(50.3% 0.1828 262.59)",
        "--bg-genshin": "oklch(79.08% 0.0829 0)",
        "--bg-wuwa": "oklch(19.14% 0.0307 266.53)",
        "--bg-zzz": "oklch(66% 0.1431 43.41)",
      }}
      class="flex flex-col lg:flex-row gap-4 h-full min-h-0 w-full xl:overflow-hidden"
    >
      <Calendar client:only="svelte" {events} />

      {
        isPreview ? (
          <HomeEvents server:defer>
            <div
              slot="fallback"
              class="flex w-full flex-col items-center justify-center bg-dark/5 py-8"
            >
              <l-square
                size="35"
                stroke="5"
                stroke-length="0.25"
                bg-opacity="0.1"
                speed="1.2"
                color="rgb(193 156 100)"
              />
            </div>
          </HomeEvents>
        ) : (
          <HomeEvents />
        )
      }
    </div>
  </section>
</Layout>
