---
import Layout from "$layouts/Layout.astro";
import Calendar from "$components/Calendar.svelte";
import HomeEvents from "$components/HomeEvents.astro";

import directus from "$services/directus";
import { readItems } from "@directus/sdk";

import { PUBLIC_DEPLOY_MODE } from "astro:env/client";

const editActive = await Astro.session?.get("editing");
const isPreview = PUBLIC_DEPLOY_MODE == "server";

let events = await directus.request(
  readItems("events", {
    fields: [
      "id",
      { game: ["id"] },
      { phase: ["phase", "start"] },
      "startDate",
      "endDate",
      { version: ["semVer"] },
      { featured_characters: ["id", { characters_id: ["name"] }, "spec"] },
      "event_tags",
    ],
    filter: {
      status: {
        _eq: "published",
      },
    },
    limit: -1,
  })
);

events.sort(
  (a, b) =>
    a.version.semVer +
    Number(a.phase.phase) / 100 -
    (b.version.semVer + Number(b.phase.phase) / 100)
);

let games = await directus.request(
  readItems("games", { fields: ["id", "color"] })
);

let style: { [key: string]: string } = {};

games.reduce((p: any, c: any) => {
  p["--bg-" + c.id] = c.color;
  return p;
}, style);
---

<Layout title="The Daily Drip">
  <section
    class="absolute inset-0 p-2 size-full lg:min-h-0 lg:p-4 flex flex-col gap-4 box-border lg:h-full overflow-auto xl:overflow-hidden justify-items-center items-center"
  >
    <div
      class="p-2 w-full bg-dark/20 rounded-md md:col-span-2 h-min max-w-[120rem]"
    >
      <p class="font-subheading text-xs">
        Welcome to <span class="font-bold text-center">The Daily Drip</span>,
        your place for gacha game preditions and speculations! Speculations are
        subjective and these are my personal predictions for upcoming gacha
        banners, so you use this data at your own risk!
      </p>
    </div>
    <div
      {style}
      class="flex flex-col lg:flex-row gap-4 h-full min-h-0 w-full xl:overflow-hidden max-w-[120rem]"
    >
      <Calendar client:only="svelte" {events} />

      {
        isPreview && !editActive ? (
          <HomeEvents server:defer>
            <div
              slot="fallback"
              class="flex w-full flex-col items-center justify-center bg-dark/5 py-8"
            >
              <l-square
                size="35"
                stroke="5"
                stroke-length="0.25"
                bg-opacity="0.1"
                speed="1.2"
                color="rgb(193 156 100)"
              />
            </div>
          </HomeEvents>
        ) : (
          <HomeEvents />
        )
      }
    </div>
  </section>
</Layout>
