---
import VersionHeader from "./GenericVersionHeader.astro";
import PhaseCard from "./GenericPhaseCard.astro";

const version = {
  semVer: 0.0,
  name: "Lorem Ipsum Dolor Sit Amet",
  events: [
    {
      game: "starrail",
      startDate: "2020-01-01",
      endDate: "2021-01-01",
      featured_characters: [
        {
          spec: false,
          name: "Character",
          game: "game",
          rarity: 5,
          bannerName: "Banner Name",
          signature: {
            name: "Weapon Name",
            rarity: 5,
            game: "game",
          },
        },
        {
          spec: false,
          name: "Character",
          game: "game",
          rarity: 5,
          bannerName: "Banner Name",
          signature: {
            name: "Weapon Name",
            rarity: 5,
            game: "game",
          },
        },

        {
          spec: false,
          name: "Character Name",
          game: "game",
          rarity: 4,
        },
        {
          spec: false,
          name: "Character Name",
          game: "game",
          rarity: 4,
        },
        {
          spec: false,
          name: "Character Name",
          game: "game",
          rarity: 4,
        },
      ],
      featured_weapons: [
        {
          name: "Weapon Name",
          rarity: 4,
          game: "game",
        },
        {
          name: "Weapon Name",
          rarity: 4,
          game: "game",
        },
        {
          name: "Weapon Name",
          rarity: 4,
          game: "game",
        },
      ],
      phase: {
        id: 2,
        game: "game",
        phase: "1",
        start: "12:00:00",
        end: "14:59:00",
      },
    },
    {
      game: "starrail",
      startDate: "2020-01-01",
      endDate: "2021-01-01",
      featured_characters: [
        {
          spec: false,
          name: "Character",
          game: "game",
          rarity: 5,
          bannerName: "Banner Name",
          signature: {
            name: "Weapon Name",
            rarity: 5,
            game: "game",
          },
        },
        {
          spec: false,
          name: "Character",
          game: "game",
          rarity: 5,
          bannerName: "Banner Name",
          signature: {
            name: "Weapon Name",
            rarity: 5,
            game: "game",
          },
        },

        {
          spec: false,
          name: "Character Name",
          game: "game",
          rarity: 4,
        },
        {
          spec: false,
          name: "Character Name",
          game: "game",
          rarity: 4,
        },
        {
          spec: false,
          name: "Character Name",
          game: "game",
          rarity: 4,
        },
      ],
      featured_weapons: [
        {
          name: "Weapon Name",
          rarity: 4,
          game: "game",
        },
        {
          name: "Weapon Name",
          rarity: 4,
          game: "game",
        },
        {
          name: "Weapon Name",
          rarity: 4,
          game: "game",
        },
      ],
      phase: {
        id: 2,
        game: "game",
        phase: "2",
        start: "12:00:00",
        end: "14:59:00",
      },
    },
  ],
  game: {
    id: "starrail",
    name: "Honkai: Starrail",
    elementMain: false,
    imageFormats: null,
  },
};

let events = version.events;
---

<section
  class="@container font-redacted grayscale size-full grow bg-white bg-opacity-30 p-2 sm:p-4 shadow-md max-w-7xl"
>
  <div class="flex flex-col gap-3 size-full animate-pulse">
    <VersionHeader {version} />

    <div
      class="h-full grow flex flex-col gap-3 lg:grid lg:grid-cols-2 lg:gap-5 w-full"
    >
      {events.map((gachaEvent: any) => <PhaseCard {gachaEvent} />)}
    </div>
  </div>
</section>
