---
import { tv } from "tailwind-variants";

const { class: className } = Astro.props;

const weaponCard = tv({
  slots: {
    base: "@container-[size] relative size-full min-h-16 min-w-16 overflow-clip bg-slate-400",
  },
});

const { base } = weaponCard();
---

<div class:list={[base(), className]}></div>
