---
const { star, curve, class: className } = Astro.props;
import { twMerge } from "tailwind-merge";
---

<div
  class={twMerge("absolute z-11 flex aspect-square overflow-hidden", className)}
>
  <i
    class={twMerge(
      "ri-gemini-fill -top-[0.05rem] left-0 absolute text-(--cardAccent)",
      star,
    )}></i>
  <div
    class={twMerge(
      "absolute w-full aspect-square rounded-full text-(--cardAccent) border-1 -top-1/2 -left-1/2",
      curve,
    )}
  >
  </div>
</div>
