---
// FONTS
import "remixicon/fonts/remixicon.css";
import "@fontsource/playfair-display-sc/400.css";
import "@fontsource/playfair-display-sc/700.css";
import "@fontsource/playfair-display-sc/900.css";
import "@fontsource/playfair-display/400.css";
import "@fontsource/playfair-display/500.css";
import "@fontsource/playfair-display/600.css";
import "@fontsource/playfair-display/700.css";
import "@fontsource/playfair-display/800.css";
import "@fontsource/playfair-display/900.css";
import "@fontsource/playfair-display/400-italic.css";
import "@fontsource/playfair-display/500-italic.css";
import "@fontsource/playfair-display/600-italic.css";
import "@fontsource/playfair-display/700-italic.css";
import "@fontsource/playfair-display/800-italic.css";
import "@fontsource/playfair-display/900-italic.css";
import "@fontsource/crimson-text/400.css";
import "@fontsource/crimson-text/600.css";
import "@fontsource/crimson-text/700.css";
import "@fontsource/crimson-text/400-italic.css";
import "@fontsource/crimson-text/600-italic.css";
import "@fontsource/crimson-text/700-italic.css";
import "@fontsource/redacted";
import "../app.css";
//

import NavBar from "$components/NavBar.astro";
import SettingsModal from "$components/SettingsModal.svelte";
import Faq from "$components/Faq.astro";
import { PUBLIC_DEPLOY_MODE, PUBLIC_VE_TOKEN } from "astro:env/client";

interface Props {
  title: string;
  baseURL?: string;
}

const { title, baseURL = "/" } = Astro.props;

// console.log(Astro.locals)
if (Astro.url.searchParams.has("visual-editing", "true") && Astro.url.searchParams.has("token", PUBLIC_VE_TOKEN)) {
  await Astro.cookies.set('editing', "true")
}

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A news feed for gacha
				game predictions and banner speculations."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />

    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      let myVar;
      function myFunction() {
        console.log("loading...");
        myVar = setTimeout(showPage, 700);
        console.log("done!");
      }
      function showPage() {
        document.getElementById("loader").classList.toggle("opacity-0");
        document.getElementById("loader").classList.toggle("z-50");
        document.getElementById("loader").classList.toggle("z-0");
      }
    </script>
    <title>{title}</title>
  </head>
  <body class="relative h-dvh w-dvw bg-light" onload="myFunction()">
    <SettingsModal client:load />
    <Faq />
    <main
      id="content"
      class="relative flex flex-col overflow-x-hidden size-full items-center pb-2"
    >
      <div
        id="loader"
        class:list={[
          "fixed inset-0 text-accent-gold-500 z-50 bg-dark  flex-col items-center justify-center transition-opacity",
          PUBLIC_DEPLOY_MODE == "server" ? "hidden" : "flex",
        ]}
      >
        <l-square
          size="35"
          stroke="5"
          stroke-length="0.25"
          bg-opacity="0.1"
          speed="1.2"
          color="rgb(193 156 100)"></l-square>
      </div>
      <NavBar {baseURL} />
      <div
        class="relative z-10 p-2 w-full flex flex-1 justify-center items-center flex-col"
      >
        <slot />
      </div>
      <div class="w-full grid grid-cols-2 px-4">
        <p
          class="text-[.6rem] text-dark text-opacity-50 text-balance pt-1 font-body"
        >
          The Daily Drip is an unaffiliated fansite. All game contents and
          materials are trademarks and copyright of their respective companies.
        </p>
        <div class="flex gap-1 justify-end text-dark/50 items-center">
          <i class="devicon-astro-plain"></i>
          <i class="devicon-tailwindcss-original"></i>
          <i class="devicon-svelte-plain"></i>
        </div>
      </div>
    </main>

    <script>
      import "../scripts/local.js";
      import { apply } from "@directus/visual-editing";
      import { square } from "ldrs";
      square.register();

      let editable = [
        ...(document.querySelectorAll(
          "[data-directus]"
        ) as NodeListOf<HTMLElement>),
      ];

      apply({
        directusUrl: "https://directus.dailydrip.news",
        elements: editable,
      });
    </script>
  </body>
</html>
