---
// FONTS
import "remixicon/fonts/remixicon.css";
import "@fontsource/playfair-display-sc/400.css";
import "@fontsource/playfair-display-sc/700.css";
import "@fontsource/playfair-display-sc/900.css";
import "@fontsource/playfair-display/400.css";
import "@fontsource/playfair-display/500.css";
import "@fontsource/playfair-display/600.css";
import "@fontsource/playfair-display/700.css";
import "@fontsource/playfair-display/800.css";
import "@fontsource/playfair-display/900.css";
import "@fontsource/playfair-display/400-italic.css";
import "@fontsource/playfair-display/500-italic.css";
import "@fontsource/playfair-display/600-italic.css";
import "@fontsource/playfair-display/700-italic.css";
import "@fontsource/playfair-display/800-italic.css";
import "@fontsource/playfair-display/900-italic.css";
import "@fontsource/crimson-text/400.css";
import "@fontsource/crimson-text/600.css";
import "@fontsource/crimson-text/700.css";
import "@fontsource/crimson-text/400-italic.css";
import "@fontsource/crimson-text/600-italic.css";
import "@fontsource/crimson-text/700-italic.css";
import "../app.css";
//

import NavBar from "$components/NavBar.astro";
import SettingsModal from "$components/SettingsModal.svelte";
import { PUBLIC_DEPLOY_MODE } from "astro:env/client";

interface Props {
  title: string;
  baseURL?: string;
}

const { title, baseURL = "/" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Welcome to The Daily Drip, your place for gacha
				game leaks and banner speculations!"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      let myVar;
      function myFunction() {
        myVar = setTimeout(showPage, 700);
      }
      function showPage() {
        document.getElementById("loader").classList.toggle("opacity-0");
        document.getElementById("loader").classList.toggle("z-50");
        document.getElementById("loader").classList.toggle("z-0");
      }
    </script>
    <title>{title}</title>
  </head>
  <body class="relative h-dvh w-dvw bg-light" onload="myFunction()">
    <SettingsModal client:load />
    <main
      id="content"
      class="relative flex flex-col overflow-x-hidden size-full items-center pb-2"
    >
      <div
        id="loader"
        class:list={[
          "fixed inset-0 text-accent-gold-500 z-50 bg-dark  flex-col items-center justify-center transition-opacity",
          PUBLIC_DEPLOY_MODE == "preview" ? "hidden" : "flex",
        ]}
      >
        <l-square
          size="35"
          stroke="5"
          stroke-length="0.25"
          bg-opacity="0.1"
          speed="1.2"
          color="rgb(193 156 100)"></l-square>
      </div>
      <NavBar {baseURL} />
      <div
        class="relative z-10 p-2 w-full flex flex-1 justify-center items-center flex-col"
      >
        <slot />
      </div>
      <p
        class="text-2xs text-dark text-opacity-50 text-center text-balance pt-1 font-body"
      >
        The Daily Drip is an unaffiliated fansite. All game contents and
        materials are trademarks and copyright of their respective companies.
      </p>
    </main>

    <script>
      import "../scripts/local.js";
      import { square } from "ldrs";
      square.register();
    </script>
  </body>
</html>
